<footer class="cl-2">
    <div>
      <p1>
        Located at
    <br>NH67 Tanjore-Velankanni Main Road,
    <br>Kovilvenni - 614 403,
    <br>Tamil Nadu, India
      </p1>
    </div>
    <div>
      <p1>
        Copyright © Anjalai Ammal Mahalingam Engineering College
        <br>
    <span>e-mail:<a href="#">principal@aamec.edu.in</a></span>
      </p1>
    </div>
    </footer>