<link rel="stylesheet" href="/style/style3.css">

<div id="slider">
    <figure>
      <img src="/img/desk.jpg">
      <img src="/img/desk2.jpg">
      <img src="/img/desk.jpg">
      <img src="/img/desk3.jpg">
      <img src="/img/desk.jpg">
    </figure>
  </div>
  <a href="/"><img src="/img/logo.png" id="logo"></a> 
    <nav>
        <div class="logo">
  <a style="text-decoration: none; color: white;" href="/">Home</a>
</div>
  <label for="btn" class="icon">
          <span class="fa fa-bars"></span>
        </label>
        <input type="checkbox" id="btn">
        <ul>
  <li><a href="/about">About</a></li>
  <li>
            <label for="btn-1" class="show">departments</label>
            <a href="/departments">departments</a>
            <input type="checkbox" id="btn-1">
            <ul>
  <li>
    <label for="btn-3" class="show">PG</label>
                <a href="/departments/pg">PG <span class="fa fa-plus"></span></a>
                <input type="checkbox" id="btn-3">
                <ul>              
  <li><a href="/departments/pg/computerscience">Computer science</a></li>
  <li><a href="/departments/pg/chemical">Chemical</a></li>
  <li><a href="/departments/pg/civil">civil</a></li>
  <li><a href="/departments/pg/Electrical-and-electronics">Electrical and electronics</a></li>
  <li><a href="/departments/pg/electronics-and-communication">electronics and communication</a></li>
  <li><a href="/departments/pg/Information-technology">Information technology</a></li>
  <li><a href="/departments/pg/Mechanical">Mechanical</a></li>
  </ul>
  </li>
  <li>
      <label for="btn-arun" class="show">UG</label>
      <a href="/departments/ug">UG <span class="fa fa-plus"></span></a>
      <input type="checkbox" id="btn-arun">
      <ul>
  <li><a href="#">MCA</a></li>
  </ul>
  </li>
  <li>
    <label for="mani" class="show">humanity and sciencs</label>
    <a href="/departments/pg/humanity-and-sciencs">humanity and sciencs</span></a>
    <input type="checkbox" id="mani">
  </li>
  </ul>
  </li>
  <li>
            <label for="btn-2" class="show">admission</label>
            <a href="/fees-structure">admission</a>
            <input type="checkbox" id="btn-2">
            <ul>
  <li><a href="/fees-structure">Fees structure</a></li>
  </ul>
  </li>
  <li><a href="/placement">placement</a></li>
  <li><a href="/campus">Campus</a></li>
  <li><a href="/showAlumni">Alumi</a></li>
  <li><a href="/Anti-Ragging">Anti-ragging</a></li>
  <li><a href="/more">More</a></li>
  </ul>
  </nav>