<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Ammec</title>
    <link rel="stylesheet" href="/style/style.css">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <%- include('../partials/nav')%>
      <%- body %>
      <script src="/javascript/script.js"></script>
  <%- include('../partials/footer')%>
</body>
</html>