<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Ammec</title>
    <link rel="stylesheet" href="/style/style.css">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .gif{
            width: 200px;
            height: 100px;
            display: flex;
            align-items: center;
            margin: 100px auto;
            flex-direction: column;
        }
        body{
            background-color: #f8d7da;
        }
    </style>
</head>
<body>
  <%- include('../partials/nav')%>
  <div class="gif">
  <a href="https://www.animatedimages.org/cat-under-construction-695.htm">
  <img src="https://www.animatedimages.org/data/media/695/animated-under-construction-image-0006.gif" border="0" alt="animated-under-construction-image-0006" />
  </a>
  <h3>This page is under construction</h3>
  </div>
</body>
</html>
