<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<% layout('layouts/boiler')%>
<!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
<link href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet' />
<script src='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js'></script>


<div class="btn-sider">
  <span class="fas fa-bars"></span>
</div>
<div class="sidebar">

<ul>
<li class="active"><a href="#page-1">Aamec</a></li>
<li><a href="#page-2">Founder</a></li>
<li>
  <a href="#page-3" class="feat-btn">Administration
    <span class="fas fa-caret-down first"></span>
  </a>
  <ul class="feat-show">
<li><a href="#page-3">Trust Board</a></li>
<li><a href="#page-4">Governing Council</a></li>
<li><a href="#page-5">Principal</a></li>
<li><a href="#page-6">Dept. Heads</a></li>
</ul>
</li>
<li><a href="#page-7">Quality policy</a></li>
<li><a href="#page-8">Approvals</a></li>
<li><a href="#page-9">Contact us</a></li>
<li><a href="#page-10">Vision & Mission</a></li>
<li><a href="#page-11">News</a></li>
<li><a href="#page-12">Mandatory disclosure</a></li>
<li><a href="#page-13">Location</a></li>
</ul>
</div>

<scroll-container>
  <scroll-page id="page-1">
  <h1 class="h1s">AAMEC</h1>
<p class="pa">Anjalai Ammal Mahalingam Engineering College (AAMEC) stands, as a beacon light in brick and mortar, men and materials, involved in learning and teaching of Technical education. It fulfils its illustrious founder and veteran railway union leader Shri.M.Namasivayam's scintillating dream and ennobling vision and to establish a temple of learning far from the maddening crowd of the cities and yet having all the facilities of a well developed urban campus imparting technical education at international standards, accessible to students from far and near, rich and poor alike.</p>
<p class="pa">The college came into existence in August 1995. The founder desired and directed that AAMEC should be a trend setter in technical education. The Management never hesitates to spend money on the development process of the college. Money has never been a constraint to the development of the college.</p>
<p class="pa">AAMEC has been conceived as a pace setter in the field of engineering education with noble ideas and objectives viz., “Character, Health and Education”. True to its motto, the college gives due emphasis not only on education of its students but also on character formation. Thus discipline is the watch word. The college spares efforts in moulding the students into good citizens, capable technocrats and self disciplined youth so that they are well equipped for their role as nation builders.</p>
<p class="pa">AAMEC constantly strives for excellence. We, at AAMEC aim at ensuring that the students who bear the seal of AAMEC are capable of competing in any global context with success and distinction.</p>
<p class="pa">The College is located in a sprawling campus of about 65 acres of land at the historic site of Kovilvenni, where King Karikala Chola defeated his enemies even as a young boy, within the limits of Thiruvarur district at a distance of just 25 kilometers from Thanjavur towards Nagapattinam. AAMEC is well served by both road & rail. The Thanjavur – Nagapattinam National Highway(NH 67) runs in front of the college and buses on this road are quite frequent. Kovilvenni railway station is located literally at the backyard of the college campus.</p>
<p class="pa">Thanjavur occupies a proud and prominent place in the cultural map of India. The Big Temple and Saraswathi Mahal Library are internationally known cultural heritages. The handicrafts and paintings of Thanjavur are acclaimed as classics all over the world. Thanjavur is connected to Chennai, Trichy and other important places by frequent train and bus services. The nearest civil airport is at Thiruchirapalli at a distance of about 80 kilometers.</p>
</scroll-page>


<scroll-page id="page-2">
<h1 class="h1s">FOUNDER</h1>
<img src="/img/Mfounder.gif" alt="" id="founder">
<p class="pa">Thiru.M. Namasivayam Founder-Chairman of Anjalai Ammal-Mahalingam Engineering College was born on March 15, 1927 at Thanjavur in the South Indian state of Tamil Nadu. He was blessed with three daughters and a son. He started his career as a clerk in the Railway department. Due to his Zeal and hard work, he acquitted himself with credit and earned the appreciation of senior officers. His indefatigable energy and administrative ability marked him out for appointment as auditor in Southern Railway. His thoroughness and devotion to duty marked him to the prestigious position of General Secretary, Southern Railway Mazdoor Union. As a General Secretary, he had to toil hard to uplift the living standard and working environment of Railway Mazdoors.</p>
<p class="pa">He portrayed his firmness with tact and organized All India level strikes during the years 1958, 1962, 1972 to get bonus for Railway Employees. After evaluating his excellent career graph, his efficiency, sincerity, hard work, leadership qualities and man-management, he was adorned with the position of Vice President, All India Railway Member Federation, New Delhi. His acumen came to limelight, when he was instrumental for the institution of “Death Relief Fund” to the Railway Employees. As a Labour Union Leader, he has exhibited dexterous skill with single minded devotion in all aspects of Union work. During the emergency period in India, he was taken into custody and lodged in prison as he was fighting for the rights of Railway Mazdoors. He was also an able orator, writer and affectionate administrator. He has been the unassailable General Secretary of SRMU for nearly four decades.</p>
<p class="pa">The Founder Chairman with a long time prospective vision identified a serene and calm atmosphere nearly his native place and established an Engineering College at Koyilvenni on the Thanjavur- Nagapattinam National Highway (NH67) to cater to the socially and economically backward classes especially for rural folk and to be managed entirely by the Mazdoor Welfare Trust . The college is ideally located, flanked by the National Highways and Railway lines. Institution was named after the late parents of Founder Chairman (i.e.) ANJALAI AMMAL-MAHALINGAM ENGINEERIG COLLEGE and started functioning from the academic year 1995-1996 with the sole motto “Character Health and Education”. Apart from establishing the Technical Institution, he has also founded “Balamurugan Charitable Trust” in memory of his son and the trust is rendering financial aid to the poor and downtrodden society and also involving in Social activities</p>
<p class="pa">The lush green environment, the well-equipped infrastructure facilities, expensive buildings stand out a shining example in technical education. The Founder’s devotion, selfless service and thrust of mission have given the Institution an all round growth. The dedicated services of the Founder have conspicuously positioned the college in the annals of Technical Education in the Country.</p>
</scroll-page>

<scroll-page id="page-3">

  <h1 class="h1s">Addmission</h1>
  <h2 class="h1s" style="color: green;">Trust Board</h2>
  <h5 class="sk">Managing Trustee</h5>
  <h3 class="ok">Justice Thiru A. Ramamurthy</h3>
  <h5 class="sk">Trustees</h5>
  <h3 class="ok">Tmt. T. Selvarani</h3>
  <h3 class="ok">Thiru. N. Kanniah</h3>
  <h3 class="ok">Tmt. N.V. Devi</h3>
  <h3 class="ok">Tmt. N.V. Usha</h3>
  <h3 class="ok">Thiru. C.A. Raja Sridhar</h3>


</scroll-page>
<scroll-page id="page-4">
<h2 class="h1s" style="color: green;">Governing Council</h2>
<h5>Justice A.Ramamurthy</h5>
<p>Managing Trustee 
  Former Judge, Madras High Court, Plot No 9, III Main Road, Mogappair west Garden, Chennai – 600 037
  Nomination : Chairma</p>
  <br>
  <br>
<h5>Dr. D. Viswanathan,</h5>
<p>Former Vice Chancellor
  Anna University, Chennai.</p>
  <br>
  <br>
<h5>Prof.S. Sumathi,</h5>
<p>DOTE Nomine Assistant Professor, Government College of Engg, Sengipatti, Trichy.</p>
<br>
<br>
<h5>Mr.EnnarasuKarunesan,</h5>
<p>	CEO-ADANI Ports &SEZ,
  Nungambakkam,Chennai
  Nomination : Member</p>
  <br>
  <br>
<h5>Dr. V. S. Senthilkumar</h5>
<p>Professor &Addl Director 
  Centre for Technology Development & Transfer, Anna University, Chennai.
  Nomination : Member</p>
<br>
<br>
<h5>Dr. C. Anandharamakrishnan</h5>
<p>Director, (IIFPT), Pudukkottai Road, Thanjavur 5.
  Nomination : Member</p>
<br>
<br>
<h5>Dr. V. Vasudevan</h5>
<p>Registrar
  Kalasalingam Academy of Research & Education, Anand Nagar, Krishnankoil, Srivilliputhur-626126 	Nomination : Member</p>
<br>
<br>
<h5>	
  Mr.K.Ramesh</h5>
<p>	Asst.General Manager 

  Rajiv Gandhi Memorial Telecom Training Centre, BSNL, Chennai-16
  
     Nomination : Member</p>
<br>
<br>
<h5>	
  Mr. N. Murugan</h5>
<p>	
  Additional General Manager,
  
     
  BHEL, Trichy-620014.
  
     Nomination : Member
      </p>
<br>
<br>
<h5>Mr. S. Sivakumar</h5>
<p>Controller of Examinations
  Thiagarajar College of Engg, Madurai - 625015 Nomination : Member</p>
<br>
<br>  
<h5>Mr. S. Satheeshkumar</h5>
<p>Deputy manager (Commercial),  TNSTC, Kumbakonam

  Nomination : Member</p>
<br>
<br>
<h5>Dr. S. N. Ramaswamy</h5>
<p>Principal
  Anjalai Ammal Mahalingam Engineering College, Kovilvenni –614 403
  Nomination : Member Secretary</p>

</scroll-page>

<scroll-page id="page-5">
<h2 class="h1s" style="color: green;">Principal</h2>
<br>
<br>
<p>Dr. S.N. Ramaswamy, is having 17 years of experience in teaching and Research besides 11 years of experience in building construction & infrastructure management. He obtained his B.E. degree in Civil Engineering from Thiagarajar College of Engineering, Madurai and M.E. degree in Structural Engineering from Annamalai University, Chidambaram. He was awarded Ph.D degree from Kalasalingam University, Tamil Nadu. His area of specialization is Explosion resident Structures for Fireworks and match works Industries. He has published more than 30 research papers in Journals and Conferences including 4 SCI Indexed, 8 Scopus Indexed International Journals. He was awarded Summer Research Fellowship in Indian Academy of Sciences during 2009. Five scholars are doing Ph.D under his guidance at Kalasalingam University. Also, he has Guided Project work for  5 Scholars for M.Sc. Real Estate Valuation under Directorate of Distance Education, Annamalai University. He served as a Consultant for checking structural design details for Hogenakkal Water Supply and Sewerage Mitigation Project. He is a member of professional bodies such as ASCE, ICI and ISTE. He has also obtained Chartered Engineer Certification and Member of Institution of Engineers (India). He is serving as the Principal of this Institution since August 2018.</p>

</scroll-page>

<scroll-page id="page-6">
<h2 class="h1s" style="color: green;">Dept. Heads</h2>
<table>
<caption>Department Heads</caption>
<tbody>
  <tr>
    <td>B.E. Mechanical Engineering</td>
    <td>Dr.K. Sivaramkrishnan, M.E.,Ph.D</td>
  </tr>
  <tr>
    <td scope="row">B.E. Computer Science and Engineering</td>
    <td>Dr.K.Velmurugan M.E.,Ph.D –  CSE</td>
  </tr>
  <tr>
    <td scope="row">B.E. Electrical and Electronics Engineering</td>
    <td>Dr. A.Bhavani Shankar M.E.,Ph.D</td>
  </tr>
  <tr>
    <td>B.Tech. –Chemical Engineering</td>
    <td scope="row">Mrs. G. Umamaheswari M.Tech.,</td>
  </tr>
  <tr>
    <td>Department of Computer Applications</td>
    <td>Dr. M. Appas Ali M.C.A., M.Phil., Ph.D.</td>
  </tr>
  <tr>
    <td scope="row">B.Tech. –Information Technology</td>
    <td>Dr. K. Mohan M.Tech., Ph.D</td>
  </tr>
  <tr>
    <td scope="row">Department of Civil Engineering</td>
    <td>Mr. N. Sureshkumar M.E.</td>
  </tr>
</tbody>
</table>
</scroll-page>

<scroll-page id="page-7">
<h1 class="h1s">Quality Policy</h1>
<p class="pa">To impart instructions and training of international standard in an environment conducive to an effective teaching and learning process with a goal to continually develop the institution as a trendsetter in the academic field and a CENTER OF PROFESSIONAL EXCELLENCE with emphasis on CHARACTER, HEALTH and EDUCATION. To synthesise and analyse the potential needs of the society and the global market and to mould the rural youth to practice engineering profession with confidence, courage, competence and integrity, achieving continual improvement and universal acceptance.</p>
</scroll-page>




<scroll-page id='page-8'>
  <h1 class="h1s">Approvals</h1>
  <table>
    <caption>Under Graduate Programmes Approved by the AICTE
      Name of the Course</caption>
    <thead>
      <tr>
        <th scope="col">Name of the Course</th>
        <th scope="col">First Approval No. & Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>B.E. Mechanical Engineering</td>
        <td rowspan="5">F.No. 730-52-260/RC/94
          dt: 7th Dec 1994</td>
      </tr>
      <tr>
        <td scope="row">B.E. Computer Science and Engineering</td>
      </tr>
      <tr>
        <td scope="row">B.E. Electrical and Electronics Engineering</td>
      </tr>
      <tr>
        <td scope="row">B.E. Electronics and Communication Engineering</td>
      </tr>
      <tr>
        <td>B.Tech. –Chemical Engineering</td>
      </tr>
      <tr>
        <td scope="row">B.Tech. –Information Technology</td>
        <td>F.No. 730-52-204(E) / ET / 97
          dt: 29th June 1999</td>
      </tr>
      <tr>
        <td scope="row">B.E, Civil Engineering</td>
        <td>F. No. Southern /1 – 2017312379/2014/EOA dt 04.06.2014</td>
      </tr>
    </tbody>
  </table>

  <br>
  <br>
  <table>
    <caption>Post Graduate Programmes Approved by the AICTE
      Name of the Course</caption>
    <thead>
      <tr>
        <th scope="col">Name of the Course</th>
        <th scope="col">First Approval No. & Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td rowspan="2">Master of Computer Applications</td>
        <td scope="col">F.No. TN-20/ET-MCA/99 </td>
      </tr>
        <td>dt: Nov 4, 1999 (New)</td>
    </tbody>
  </table>
<br>
<br>


  <table>
    <caption>UG-PROGRAMMES</caption>
    <thead>
      <tr>
        <th scope="col">BRANCH</th>
        <th scope="col">APPROVED INTAKE FOR 2019-2020</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>B.E. Mechanical Engineering</td>
        <td>60</td>
      </tr>
      <tr>
        <td scope="row">B.E. Computer Science and Engineering</td>
        <td>90</td>
      </tr>
      <tr>
        <td scope="row">B.E. Electrical and Electronics Engineering</td>
        <td>120</td>
      </tr>
      <tr>
        <td>B.Tech. –Chemical Engineering</td>
        <td scope="row">120</td>
      </tr>
      <tr>
        <td>B.Tech. –Chemical Engineering</td>
        <td>90</td>
      </tr>
      <tr>
        <td scope="row">B.Tech. –Information Technology</td>
        <td>120</td>
      </tr>
      <tr>
        <td scope="row">B.E, Civil Engineering</td>
        <td>60</td>
      </tr>
    </tbody>
  </table>


  <table>
    <caption>PG-PROGRAMMES</caption>
    <thead>
      <tr>
        <th scope="col">Name of the Course</th>
        <th scope="col">First Approval No. & Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Master of Computer Applications</td>
        <td scope="col">60</td>
      </tr>
    </tbody>
  </table>
</scroll-page>


<scroll-page id="page-9">

  <h1 class="h1s">Contact Us</h1>
  <h3>Contact</h3>
  <div>
    <p>Anjalai Ammal Mahalingam Engineering College Kovil Venni
      <br>Thiruvarur District
      <br>Tamil Nadu
      <br>614 403</p>
  </div>
  
  <h3>Contact form</form></h3>
<div class="fr">
  <form action="">
    <label for="email">email</label>
    <input type="email" name="email"  id="Email" required placeholder="enter email">
    <label for="subject">subject</label>
    <input type="text" name="subject"  id="subject" required placeholder="enter subject">
    <label for="text">content</label>
    <textarea name="content" id="text" cols="30" rows="10"></textarea>
    <input type="submit" value="submit"  id="submit">
  </form>
</div>  

</scroll-page>

  


<scroll-page id="page-10">

  <h1 class="h1s">Vision & Mission</h1>
  <h3>Vision</h3>
  <p class="pa">To become a centre of excellence by imparting high quality technical, education, and
    produce competent engineers with ethical, environmental and social values.</p>

    <h3>Mission</h3>
    <ul class="ul-1">
      <li>Facilitating high quality technical education through adequate infrastructure and
        eminent faculty members. </li>
      <li>Providing technical education to rural youth.</li>
      <li>Promoting research and development activities.</li>
      <li>Developing industry – Institution interaction and inculcating a spirit of
        entrepreneurship through sustained efforts.</li>
       <li>Creating global environmental awareness among the students.</li> 
    </ul>

  </scroll-page>
  

  <scroll-page id="page-11">
  
    <h1 class="h1s">News</h1>
    <p class="pa">Latest NEWS and Events in our college.</p>
  
    <div class="ff">
  </div>

  <div class="okokok">
    <br>
    <br>
    <h5>Title</h5>
    <ul>
      <li><a href="#">New computing facility</a></li>
      <li><a href="#">Fit India Movement @ AAMEC</a></li>
      <li><a href="#">AICTE Pragati and Saksham Schemes</a></li>
      <li><a href="#">AAMEC Bird's Eye view</a></li>
      <li><a href="#">Covid19 Pandemic -UGC Public Notice</a></li>
    </ul>
  </div>
    </scroll-page>

  <scroll-page id="page-12">
  
    <h1 class="h1s">Mandatory disclosure</h1>
    <h5>Click below to view Mandatory Disclosure:</h5>
    <a href="#" class="ah">B.E. - Mandatory Disclosure</a>
    <a href="#" class="ah">M.C.A. - Mandatory Disclosure</a>
  

    
  <table>
    <caption>UG-PROGRAMMES</caption>
    <thead>
      <tr>
        <th scope="col">BRANCH</th>
        <th scope="col">APPROVED INTAKE FOR 2019-2020</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>B.E. Mechanical Engineering</td>
        <td>60</td>
      </tr>
      <tr>
        <td scope="row">B.E. Computer Science and Engineering</td>
        <td>90</td>
      </tr>
      <tr>
        <td scope="row">B.E. Electrical and Electronics Engineering</td>
        <td>120</td>
      </tr>
      <tr>
        <td>B.Tech. –Chemical Engineering</td>
        <td scope="row">120</td>
      </tr>
      <tr>
        <td>B.Tech. –Chemical Engineering</td>
        <td>90</td>
      </tr>
      <tr>
        <td scope="row">B.Tech. –Information Technology</td>
        <td>120</td>
      </tr>
      <tr>
        <td scope="row">B.E, Civil Engineering</td>
        <td>60</td>
      </tr>
    </tbody>
  </table>


  <table>
    <caption>PG-PROGRAMMES</caption>
    <thead>
      <tr>
        <th scope="col">Name of the Course</th>
        <th scope="col">First Approval No. & Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Master of Computer Applications</td>
        <td scope="col">60</td>
      </tr>
    </tbody>
  </table>
    </scroll-page>



    <scroll-page id="page-13">
    
      <h1 class="h1s">Location</h1> 
      <div class="mma">
      <br>
      <br>
      <div id='map'></div>
      </div>
    
      <div id="dialog" title="Message successfully sended">
        <p>we will respond you quick as possible</p>
      </div>
    </scroll-page>
    <scroll-page id="page-14">
      <h1 class="h1s">gallery</h1> 
      <div id="gallery" class="container-2">
        <!-- <div class="col-xs-12 no-pad">
            <h3>Image Gallery</h3>
            <hr/>
        </div> -->
    
        <div id="gallery-box">
            <div id="gallery-count"><span id="count">1</span> of <span id="total"></span></div>
            <a id="gallery-link" href="https://loremflickr.com/800/600/dog?lock=10" target="_blank">
                <div id="gallery-img">
                </div>
            </a>
        </div>
        <div class="gallery-thumbnails">
            <div class="col-xs-12 no-pad">
                <img id="1" class="img-responsive" src="https://loremflickr.com/800/600/dog?lock=10" />
                <img id="2" class="img-responsive" src="https://loremflickr.com/800/600/dog?lock=20" />
                <img id="3" class="img-responsive" src="https://loremflickr.com/800/600/dog?lock=30" />
                <img id="4" class="img-responsive" src="https://loremflickr.com/800/600/dog?lock=40" />
                <img id="5" class="img-responsive" src="https://loremflickr.com/800/600/dog?lock=50" />
                <img id="6" class="img-responsive" src="https://loremflickr.com/800/600/dog?lock=60" />
                <img id="7" class="img-responsive" src="https://loremflickr.com/800/600/dog?lock=70" />
                <img id="8" class="img-responsive" src="https://loremflickr.com/800/600/dog?lock=80" />
                <img id="9" class="img-responsive" src="https://loremflickr.com/800/600/dog?lock=90" />
                <img id="10" class="img-responsive" src="https://loremflickr.com/800/600/dog?lock=100" />
            </div>
        </div>
        <hr/>
        <div class="row-2">
            <div class="col-xs-12 col-sm-4">
                <label>Image Display</label>
                <select id="imgDisplay" class="form-control">
                    <option value="contain" default>contain</option>
                    <option value="cover">cover</option>
                </select>
            </div>
            <div class="col-xs-12 col-sm-4">
                <label>Scroll</label>
                <select id="imgScroll" class="form-control">
                    <option value="yes" default>Yes</option>
                    <option value="no">No</option>
                </select>
            </div>
            <div class="col-xs-12 col-sm-4">
                <label>Scale</label>
                <input type="range" min="200" max="1200" value="700" class="slider form-control" id="imgScale">
            </div>
        </div>
        </div>
      
    </scroll-page>


</scroll-container>
<script>
mapboxgl.accessToken ='<%=process.env.ACCESS_TOKEN%>'
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/streets-v11',
center:[79.366904,10.776433],
zoom:11
});
var marker = new mapboxgl.Marker()
.setLngLat([79.366904,10.776433])
.addTo(map); 



</script> 


</body>
</html>



