<% layout('layouts/boiler')%>
<link rel="stylesheet" href="/style/style3.css">


<table>
    <caption>FEES STRUCTURE 2020 -2021(per year)</caption>
    <thead>
      <tr>
        <th scope="col">DETAILS</th>
        <th scope="col">ACADEMIC</th>
        <th scope="col">FG</th>
        <th scope="col">SC/ST</th>
        <th scope="col">M.C.A(PG)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tuition Fees</td>
        <td>50,000</td>
        <td>25,000</td>
        <td>0*</td>
        <td>25,000</td>
      </tr>
      <tr>
        <td scope="row">Development Fees</td>
        <td>5,000</td>
        <td>5,000</td>
        <td>5,000</td>
        <td>5,000</td>
      </tr>
      <tr>
        <td scope="row">Anna University Fees</td>
        <td>2,305</td>
        <td>2,305</td>
        <td>2,305</td>
        <td>2,050</td>
      </tr>
      <tr>
        <td>Examination Fees</td>
        <td scope="row">2,700</td>
        <td>2,700</td>
        <td>2,700</td>
        <td>2,700</td>
      </tr>
      <tr>
        <td>Caution Deposit</td>
        <td scope="row">4,000</td>
        <td>4,000</td>
        <td>4,000</td>
        <td>4,000</td>
      </tr>
      <tr>
        <td>Total</td>
        <td scope="row">64,005</td>
        <td>39,005</td>
        <td>14,005</td>
        <td>53,250</td>
      </tr>
      <tr>
        <td>LESS: Fee paid @ Counselling</td>
        <td scope="row">5,000</td>
        <td>5,000</td>
        <td>1,000</td>
        <td></td>
      </tr>
      <tr>
        <td>Balance to be paid</td>
        <td scope="row">59,005</td>
        <td>34,005</td>
        <td>13,005</td>
        <td></td>
      </tr>
      <tr>
        <td>Management Quota</td>
        <td scope="row">99,005</td>
        <td></td>
        <td></td>
        <td>53,250</td>
      </tr>
    </tbody>
  </table>


  <table>
    <caption>BUS FEES STRUCTURE 2020 -2021(per year)</caption>
    <thead>
      <tr>
        <th scope="col">S.NO</th>
        <th scope="col">STARTING POINT</th>
        <th scope="col">PICKUP POINTS</th>
        <th scope="col">REVISED BUS FEES</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td rowspan="5">1</td>
        <td rowspan="5">Thanjavur (Srinivasapuram & Central Library)</td>
        <td>Srinivasapuram, Central Library, Santhi Kamala Theater Zone, Vandikara Street, Tholkappiar Square, Gurudayal Sharma, Mariamman Kovil bypass, Gnanam Nagar, Mariamman Kovil</td>
        <td>Rs 16,000</td>
      </tr>
      <tr>
        <td scope="row">Pullavrnatham</td>
        <td>Rs.15,000</td>
      </tr>
      <tr>
        <td scope="row">Kovilur, Poondi</td>
        <td>Rs.13,000</td>
      </tr>
      <tr>
        <td>Saliyamangalam</td>
        <td scope="row">Rs.11,000</td>
      </tr>
      <tr>
        <td>Ammapet</td>
        <td scope="row">Rs.7,000</td>
      </tr>
      <tr>
        <td>2</td>
        <td scope="row">Thanjavur Sinthamani (Medical College)</td>
        <td>Sinthamani, EB Colony, Sundaram Paint stopping, Medical College, Eswari Nagar, Municipal Colony, Annamalai Kalyana Mandapam, Mangalapuram, LIC Colony, Balaji nagar, Ganapathi Nagar</td>
        <td>Rs.18,000</td>
      </tr>
      <tr>
        <td>3</td>
        <td scope="row">Thanjavur New Bus Stand</td>
        <td>New Bustand, RR nagar, New Housing Unit, Cauvery Nagar, Kulandai Yesu church, Old housing unit, Yagappa nagar, Arulananda Ammal nagar, Anna nagar, RMS colony, EB Colony, N.K. Road by pass</td>
        <td>Rs.18,000</td>
      </tr>
      <tr>
        <td rowspan="6">4</td>
        <td rowspan="6">Kumbakonam</td>
        <td>Kumbakonam Bus stand, Sakottai</td>
        <td>Rs 16,000</td>
      </tr>
      <tr>
        <td scope="row">Pullavrnatham</td>
        <td>Rs.15,000</td>
      </tr>
      <tr>
        <td scope="row">Maruthanalllur, Thippurajapuram</td>
        <td>Rs.15,000</td>
      </tr>
      <tr>
        <td>Madakudi</td>
        <td scope="row">Rs.14,000</td>
      </tr>
      <tr>
        <td>Valangaiman</td>
        <td scope="row">Rs.14,000</td>
      </tr>
      <tr>
        <td>Alangudi</td>
        <td scope="row">Rs.12,000</td>
      </tr>
      <tr>

        <tr>
            <td rowspan="6">5</td>
            <td rowspan="6">Thiruvarur</td>
            <td>Thiruvarur temple, vasan cafe (Bus stand)</td>
            <td>Rs 18,000</td>
          </tr>
          <tr>
            <td scope="row">Ammaiyappan, muganthanur, Lakshmangudi</td>
            <td>Rs.14,000</td>
          </tr>
          <tr>
            <td scope="row">Athikkadai, Pothakkudi</td>
            <td>Rs.13,000</td>
          </tr>
          <tr>
            <td>Koradacherry</td>
            <td scope="row">Rs.11,000</td>
          </tr>
          <tr>
            <td>Kilariyam</td>
            <td scope="row">Rs.10,000</td>
          </tr>
          <tr>
            <td>Needamangalam</td>
            <td scope="row">Rs.7,000</td>
          </tr>
          <tr>
        
      <tr>
        <td rowspan="3">6</td>
        <td rowspan="3">Thanjavur (Srinivasapuram & Central Library)</td>
        <td>Keelapalam, Mannargudi Bus stand</td>
        <td>Rs 14,000</td>
      </tr>
      <tr>
        <td scope="row">Rajappan Chavady, Royapuram</td>
        <td>Rs.10,000</td>
      </tr>
      <tr>
        <td scope="row">Poovanur</td>
        <td>Rs.8,000</td>
      </tr>

    </tbody>
  </table>