<% layout('layouts/boiler')%>
   
<div class="container">
<div class="cont">

<h3>Achivement 2019-2020<i class="far fa-bookmark"></i></h3>
<ul>
<li>Entrepreneurship Development cell (EDC) inaugurated and functioning effectively.</li>
<li>70 Guest lectures were organized.</li>
<li>Civil Laboratories completed at the cost of Rs. 2.5 Crores.</li>
<li>Auditorium established at the cost of Rs. 80 Lakhs.</li>
<li>Gymnasium constructed at the cost of Rs. 90 Lakhs.</li>
<li>Indoor Stadium established at the cost of Rs. 92 Lakhs.</li>
</ul>
</div>
<div class="cont">
  <h3>Placement Statistics<i class="far fa-bookmark"></i></h3>
  <ul>
    <li>Placement Details as on 10.03.2020</li>
    <li>Placement Statistics for the past 3 academic years</li>
    <li>Our recruiters in the academic year 2019-20</li>
    <li>* - Placement is in Progress.</li>
  </ul>
</div>
<div class="cont">
  <h3>Latest News<i class="far fa-bookmark"></i></h3>
  <ul>
    <li id="eee">New computing facility</li>
    <li id="mmm"> New computing facility created at the cost of Rs. 23,45,000 ...</li>
  </ul>
</div>
</div>
<div class="style-btn">
<div>
<button class="custom-btn btn-3"><span>APPLICATION </span></button>
<button class="custom-btn btn-3"><span>DOWNLOAD</span></button>
</div>
<div>
<button class="custom-btn btn-3"><span>REGULATION</span></button>
<button class="custom-btn btn-3"><span>COLLEGE CODE</span></button>
</div>
<div>
<button class="custom-btn btn-3"><span>ADMISSION</span></button>
<button class="custom-btn btn-3"><span> TANCET</span></button>
</div>
</div>

