<% layout('layouts/boiler')%>
<link rel="stylesheet" href="/style/style3.css">
<link rel="stylesheet" href="/style/style2.css">


<div class="btn-sider">
    <span class="fas fa-bars"></span>
  </div>
  <div class="sidebar">
  
  <ul>
  <li class="active"><a href="#page-1">Introduction</a></li>
  <li><a href="#page-2">Our Recruiters</a></li>
  <li><a href="#page-3">Training Methodology</a></li>
  <li><a href="#page-4">MOU's</a></li>
  <li><a href="#page-5">Placement Associates</a></li>
  <li><a href="#page-6">Team Members</a></li>
</ul>
</div>

<scroll-container>
    <scroll-page id="page-1">
      <!-- <div class="container-2"> -->
      <h1 class="h1s">Introduction</h1>
      <p class="pa">The Department of training and placement is headed by a placement officer. This department interacts with reputed organizations all over the country for arranging campus interviews for the placement of final year students. It makes efforts to send most of the students for in-plant training to enhance their technical ability and gain exposure to the practical world.
      </p>
      <p class="pa">
        Industrial visits to reputed companies are arranged to know more details about industrial activities. It also enhances the soft-skill capability of the students through regular training programs. The department counsels the final year students for their higher studies and for getting projects from industries.
      </p>

      <p class="pa">The cell also periodically conducts Aptitude test, Group discussions, Mock interviews and technical tests. Guidance is also offered for pursuing higher studies and research both in India and abroad</p>
      <p class="pa">Excellent facilities for conducting campus interviews like two Air-Conditioned Seminar halls with state-of-the-art audiovisual equipment for making presentations capacity ranging from 100 to 500 seats, huge halls for conducting tests, air conditioned conference room for conducting Group Discussions and Personal Interviews, etc..
    </p>
      <p class="pa">We also have an excellent guesthouse offering both boarding and lodging with A/C suites and all modern amenities for the recruiters to stay in the campus.
    </p>

    <h3>Goals and Objectives</h3>
      <p class="pa">The training & Placement Cell is committed to provide all possible assistance to its graduates and post graduates in their efforts to find employment. This commitment is demonstrated by the existence of a full-time Placement Officer in-charge. The benefits of this assistance are reflected in the preparation of AAMEC Students who are able to secure lucrative and esteemed position in recent years.
    </p>
      <p class="pa">The training & Placement service operates year round to facilitate contacts between companies & Graduates. Staff members are available to respond to student’s questions and concerns of all kinds. This may include advice on placement procedures;help to prepare application and resumes and mock Interviews. The aim is to ensure that students have the information and skills necessary for an effective job search
    </p>
      <p class="pa">Those considering careers in education or its related fields are offered detailed career guidance at the Training & Placement Cell. All counseling is based on up to-date placement statistics and an envisioned view of future educational and industrial trends. Additionally, the Training & Placement Cell helps the students to improve their communication Skills and Presentation Skills.
    </p>
    
        <h3>Mission</h3>
        <ul class="ul-1">
          <li>To produce the most competitive technocrats to fit in all scenario</li>
          <li>To place students in Prospective IT & Core Companies.</li>
          <li>To give sufficient practical exposures to create action plans and execute the solutions</li>
          <li>Help the students to develop a passion to win and a global mindset.</li> 
        </ul>
      <!-- </div> -->
      </scroll-page>

    <scroll-page id="page-2">
        <h1 class="h1s">Our Recruiters</h1>
        <p class="pa">Some of the Companies who have Recruited our Students</p>
        <table>
            <tbody>
            <tr>
            <td>SysArc Infomatix Pvt. Ltd., Chennai</td>
            <td>IBS Software Services Ltd., Trivandrum</td>
            </tr>
            <tr>
            <td >Vuram Technologies Pvt. Ltd., Chennai</td>
            <td >ICICI Prudential Life Insurance Company Limited, Cochin</td>
            </tr>
            <tr>
            <td >iHorse Technologies Pvt. Ltd., Puduchery</td>
            <td >i-flex Solutions Ltd., Bangalore</td>
            </tr>
            <tr>
            <td >Vortex Engineering Pvt. Ltd., Chennai</td>
            <td >iGATE Global Solutions Limited, Bangalore </td>
            </tr>
            <tr>
            <td >AArovin Technologies, Chennai</td>
            <td >Vee Technologies Solutions, Chennai</td>
            </tr>
            <tr>
            <td >AIG Systems Solutions Pvt. Ltd., Chennai</td>
            <td >Infosys Technologies Ltd., Bangalore</td>
            </tr>
            <tr>
            <td >Algrain Products (P) Ltd., Hosur</td>
            <td >L&amp;T ECC Division, Chennai</td>
            </tr>
            <tr>
            <td >Allsec Technologies, Chennai</td>
            <td >L&amp;T Infotech Limited, Chennai</td>
            </tr>
            <tr>
            <td >Caritor India Pvt. Ltd., Chennai</td>
            <td >L&amp;T Switchgear, Mysore</td>
            </tr>
            <tr>
            <td >Celetronix India Pvt. Ltd., Chennai</td>
            <td >L-Cube Innovative Solutions Ltd., Chennai</td>
            </tr>
            <tr>
            <td >Cetex Petrochemicals Ltd. Chennai</td>
            <td >Madras Cements Ltd., Chennai</td>
            </tr>
            <tr>
            <td >Cethar Vessels Limited, Trichy</td>
            <td >PMR Software Technology Pvt. Ltd., Chennai</td>
            </tr>
            <tr>
            <td >Cognizant Technology Solutions Ltd., Chennai</td>
            <td >Polaris Software Ltd., Chennai</td>
            </tr>
            <tr>
            <td >Crompton Greaves Ltd., Chennai</td>
            <td >Ramco Systems Ltd., Bangalore</td>
            </tr>
            <tr>
            <td >CSM Software Pvt. Ltd., Chennai</td>
            <td >Ramco Systems Ltd., Chennai</td>
            </tr>
            <tr>
            <td >Data Patterns India Pvt. Ltd., Chennai (Indus Teqsite Pvt. Ltd.)</td>
            <td >Satyam Computer Services Pvt.Ltd., Chennai</td>
            </tr>
            <tr>
            <td >Futurenet Technologies, Chennai</td>
            <td >Sify Limited, Chennai</td>
            </tr>
            <tr>
            <td >GDA Technologies Ltd., Chennai</td>
            <td >Slash Support India Pvt. Ltd., Chennai</td>
            </tr>
            <tr>
            <td >HCL Infosystems Ltd., Hyderabad</td>
            <td >Sutherland Global Services Ltd., Chennai</td>
            </tr>
            <tr>
            <td >HCL Infosystems Ltd., Pondicherry </td>
            <td >Tata Consultancy Services, Chennai</td>
            </tr>
            <tr>
            <td >HCL Technologies Ltd., Chennai</td>
            <td >Tecknodreams Software Consulting Pvt. Ltd., Bangalore</td>
            </tr>
            <tr>
            <td >HDFC Securities Limited</td>
            <td >United Semiconductor Solutions Ltd., Chennai</td>
            </tr>
            <tr>
            <td >Hewlett-Packard Ltd.,  New Delhi</td>
            <td >V2 Software Solutions Ltd., Chennai </td>
            </tr>
            <tr>
            <td >Hexaware Technologies, Chennai </td>
            <td >Verizon Data Services Ltd., Chennai </td>
            </tr>
            <tr>
            <td >Hindustan Software Limited, Chennai</td>
            <td >Vibrant, Bangalore</td>
            </tr>
            <tr>
            <td >Honeywell Technology Solutions Lab Pvt. Ltd., Madurai</td>
            <td >Virtusa India Pvt. Ltd., Chennai</td>
            </tr>
            <tr>
            <td >HSBC Bank, Chennai </td>
            <td >VVDN Technologies Private Limited, Chennai</td>
            </tr>
            <tr>
            <td >IBM, Bangalore</td>
            <td >Wipro Technologies, Bangalore</td>
            </tr>
            </tbody>
            </table>
        </scroll-page>
</scroll-container>



<script>
    $('.btn-sider').click(function(){
      $(this).toggleClass("click");
      $('.sidebar').toggleClass("show-2");
    });
      $('.sidebar ul li').click(function(){
        $(this).addClass("active").siblings().removeClass("active");
      });
  
  
      let drop = document.getElementsByClassName('feat-show')[0];
      let dr2=document.getElementsByClassName('feat-btn')[0];
      let c2=1;
      dr2.addEventListener('click',()=>{
        c2+=1;
        if(c2%2==0){
        drop.style.display='block';
        }
        else
        {
          drop.style.display='none';
        }
      })
    </script>