<% layout('layouts/boiler')%>
<link rel="stylesheet" href="/style/style3.css">
<link rel="stylesheet" href="/style/style2.css">

<div class="btn-sider">
    <span class="fas fa-bars"></span>
  </div>
  <div class="sidebar">
  
  <ul>  
  <li class="active"><a href="#page-1">Vision & Mission</a></li>
  <li><a href="#page-2">PEO's</a></li>
  <li><a href="#page-3">Overview</a></li>
  <li><a href="#page-4">Faculty</a></li>
  <li><a href="#page-5">Laboratories</a></li>
  <li><a href="#page-6">Achievement</a></li>
  <li><a href="#page-7">Activities</a></li>
</ul>
</div>


<scroll-container>
  <scroll-page id="page-1">
    <!-- <div class="container-2"> -->
    <h2 style="text-align: center;">CHEMICAL<i class="fas fa-atom"></i></h2>  
    <h1 class="h1s">Vision & Mission</h1>
    <h3>Vision</h3>
    <p class="pa">To make the Chemical Engineering Department as a “CENTER OF EXCELLENCE” by imparting high quality education to produce competent engineers with ethical, environmental and social values.
    </p>
  
      <h3>Mission</h3>
      <ul class="ul-1">
        <li>M1: To make the Chemical Engineering Department as a “CENTER OF EXCELLENCE” by imparting high quality education to produce competent engineers with ethical, environmental and social values.</li>
        <li>M2: To produce employable engineers with knowledge and competency.</li>
        <li>M3: To produce engineers who possess soft skill needed for sustenance.</li>
        <li>M4: To produce competent engineers with ethical, environmental and social values.</li> 
      </ul>
    <!-- </div> -->
    </scroll-page>

    <scroll-page id="page-2">
        <h1 class="h1s">PEO's</h1>
        <br>
        <!-- <div class="container-2"> -->
        <h5 class="sk">Programme Educational Objectives (PEOs)</h5>
        <table>
            <tbody>
              <tr>
                <td scope="row"><span>PEO1.</span>	
                    To provide strong foundation in basic science and mathematics necessary to formulate, solve and analyze problems in the field of Chemical Engineering.</td>
              </tr>
              <tr>
                <td scope="row"><span>PEO2.</span>	
                    To conduct laboratory experiments, as well as to analyze and interpret data.</td>
              </tr>
              <tr>
                <td><span>PEO3.</span>	
                    To design a process or equipment used in chemical and allied industries using modern tools, taking into account of economic, environment, ethical, social and safety aspects.</td>
              </tr>
              <tr>
                <td><span>PEO4.</span>
                    To develop communication and management skills.</td>
              </tr>
              <tr>
                <td scope="row"><span>PEO5.</span>	
                    To inculcate learning habit.</td>
              </tr>
              <tr>
                <td scope="row"><span>PEO6.</span>To provide sources to develop good character.</td>
              </tr>
              <tr>
                <td scope="row"><span>PEO7.</span>	
                    To produce employable graduates</td>
              </tr>
            </tbody>
          </table>


          <h5 class="sk">Programme Outcomes (POs)</h5>
          <table>
              <tbody>
                <tr>
                  <td scope="row"><span>PEO1.</span>	
                    Engineering knowledge: Apply the knowledge of mathematics, science, engineering fundamentals, and an engineering specialization to the solution of complex engineering problems.</td>
                </tr>
                <tr>
                  <td scope="row"><span>PEO2.</span>	
                    Problem analysis: Identify, formulate, review research literature, and analyze complex engineering problems reaching substantiated conclusions using first principles of mathematics, natural sciences, and engineering sciences.</td>
                </tr>
                <tr>
                  <td><span>PEO3.</span>	
                    Design/development of solutions: Design solutions for complex engineering problems and design system components or processes that meet the specified needs with appropriate consideration for the public health and safety, and the cultural, societal, and environmental considerations.</td>
                </tr>
                <tr>
                  <td><span>PEO4.</span>
                    Conduct investigations of complex problems: Use research-based knowledge and research methods including design of experiments, analysis and interpretation of data, and synthesis of the information to provide valid conclusions..</td>
                </tr>
                <tr>
                  <td scope="row"><span>PEO5.</span>	
                    Modern tool usage: Create, select, and apply appropriate techniques, resources, and modern engineering and IT tools including prediction and modeling to complex engineering activities with an understanding of the limitations..</td>
                </tr>
                <tr>
                  <td scope="row"><span>PEO6.</span>The engineer and society: Apply reasoning informed by the contextual knowledge to assess societal, health, safety, legal and cultural issues and the consequent responsibilities relevant to the professional engineering practice.</td>
                </tr>
                <tr>
                    <td><span>PEO7.</span>
                        Environment and sustainability: Understand the impact of the professional engineering solutions in societal and environmental contexts, and demonstrate the knowledge of, and need for sustainable development.</td>
                  </tr>
                <tr>
                    <td><span>PEO8.</span>
                        Ethics: Apply ethical principles and commit to professional ethics and responsibilities and norms of the engineering practice..</td>
                </tr>

                <tr>
                    <td><span>PEO9.</span>
                        Individual and team work: Function effectively as an individual, and as a member or leader in diverse teams, and in multidisciplinary settings..</td>
                </tr>

                <tr>
                    <td><span>PE10.</span>
                        Communication: Communicate effectively on complex engineering activities with the engineering community and with society at large, such as, being able to comprehend and write effective reports and design documentation, make effective presentations, and give and receive clear instructions..</td>
                </tr>

                <tr>
                    <td><span>PE11.</span>
                        Project management and finance: Demonstrate knowledge and understanding of the engineering and management principles and apply these to one‘s own work, as a member and leader in a team, to manage projects and in multidisciplinary environments..</td>
                </tr>
                <tr>
                    <td><span>PE12.</span>
                        Life-long learning: Recognize the need for, and have the preparation and ability to engage in independent and life-long learning in the broadest context of technological change..</td>
                </tr>
              </tbody>
            </table>
        <!-- </div> -->
        </scroll-page>


        <scroll-page id="page-3">
            <!-- <div class="container-2"> -->
            <h1 class="h1s">Overview of Chemical Engineering department</h1>
            <p class="pa">Chemical Engineering department was started from the academic year 1996-97 with an intake of 60. Now it is one of the strongest academic sections of AAMEC with the present strength of 149. The Departmental labs are located in spacious area, namely Mechanical operations lab, Mass transfer lab, Chemical reaction engineering lab,Process dynamics and control lab are located in spacious area. Our mission is to turn the Department of Chemical Engineering as a  “CENTER OF EXCELLENCE” by imparting high quality education to produce competent engineers with ethical, environmental and social values.
            </p>

            <p class="pa">
                The Department consists of 12 faculty members with one Ph.D., 10 M.E./M.Tech.s,
                The department classes are located in the ground floor of Chemical technology building having 273 sq.m. area. These rooms have adequate ventilation and lighting and comfortable for effective teaching learning process. All the class rooms are multimedia smart class rooms with projector systems connected with latest computer systems. The basic aminities are provided in the building itself and are well maintained.
                With teaching faculty of 12 and the students strength of 149, the student/staff ratio is 13. With the continuous and dedicated efforts of the faculty, our students have secured many University ranks.
                Students who are admitted to this college are mostly from rural area with reasonable academic background.
                As per the curriculam of the University the following subjects are taught during the course of stud
            </p>

            <h4 style="margin-top: 15px;">As per the curriculum of the University, the following core subjects are taught during the course of study</h4>
            <!-- </div> -->
            

            <div class="table-aligh">
              <table>
                  <tbody>
                    <tr>
                      <td>Chemical Reaction Engineering</td>
                      <td>Mass transfer</td>
                    </tr>
                    <tr>
                      <td scope="row">Fluid mechanics</td>
                      <td>Chemical Process Industries</td>
                    </tr>
                    <tr>
                      <td scope="row">Chemical Engineering Thermodynamics</td>
                      <td>Process dynamics and control</td>
                    </tr>
                    <tr>
                      <td>Chemical process equipment drawing and design</td>
                      <td scope="row">Energy engineering</td>
                    </tr>
                    <tr>
                      <td>Environmental engineering</td>
                      <td>Mechanical operations</td>
                    </tr>
                    <tr>
                      <td>Process calculations</td>
                      <td>Applied physical chemistry</td>
                    </tr>
                    <tr>
                      <td>Chemical plant utilities</td>
                      <td>Transport phenomena</td>
                    </tr>
                    <tr>
                      <td>Industrial safety and hazard analysis</td>
                      <td>Heat transfer</td>
                    </tr>
                    <tr>
                      <td>Material technology</td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            <h4 style="margin-top: 15px;">ELECTIVES OFFERED:</h4>
              <div class="table-aligh">
                <table>
                    <tbody>
                      <tr>
                        <td>Petroleum Technology</td>
                        <td>Food technology</td>
                      </tr>
                      <tr>
                        <td scope="row">Fertilizer technology</td>
                        <td>Modern separation processes</td>
                      </tr>
                      <tr>
                        <td scope="row">Electro chemical engineering</td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            <div class="allign">
            <p class="pa">Apart from the technical knowledge gained by the students, it is essential to possess some additional personal qualities like good communication skills with proficiency in English. To promote this activity, the students are also encouraged to participate in spoken english course conducted in the campus. Several group discussions, seminars and debates are also arranged among the students to improve their professional skills. One period is earmarked for newspaper reading.</p>
            <p class="pa">As part of extra-curricular activities, students are motivated to participate in cultural and sports events in college and inter-collegiate levels.</p>
            <p class="pa">As every branch of engineering has its utility with practical aspects, interaction with industry becomes essential.</p>
            <p class="pa">To give an exposure, understanding and functioning of industries, the students are made to visit the industries in southern part of India during the semester vacation. A detailed report is submitted by the students at the end of tour.</p>
            <p class="pa">As part of Industry-Institute interaction, several batches of students every year undergo practical training in Industries during semester holidays. This will facilitate the students to appreciate and apply the knowledge imparted to them in the academic programme with a professional/industrial environment</p>
            <p class="pa">The growth of the department towards achieving the goal depends on the quality and stability of the faculty members. The department of chemical engineering have enough number of faculty members with commitment and dedication, If this continues we are confident to achieve our goals at an early date.</p>
            <p class="pa">With the knowledge gained and achievements made during their stay here, a few students pursue their higher studies in India and abroad . Our past students are working in prestigious industries like Reliance Industries Limited, ONGC, Petrofac, SPIC, Mangalore refineries, Mangalore Fertilizers, NOCIL, L&T, Bhadrachalam Papers, TNPL, Cairn India, Radico Khaitan, CGRI, SPB, Essar Petroleum, and multinational companies in the Middle East, Singapore, China, Europe, Africa, Australia, USA and Canada.</p>
            </div>
        </scroll-page>

        

        <scroll-page id="page-4">
          <!-- <div class="container-2"> -->
          <h1 class="h1s">faculty</h1>
          <div class="table-aligh">
          <table>
            <thead>
              <tr>
                <th scope="col">Name of the Faculty</th>
                <th scope="col">Designation</th>
                <th scope="col">Qualification</th>
                <th scope="col">Specialization</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Mrs. G. Umamaheswari</td>
                <td>Asst. Professor & HoD i/c</td>
                <td>M. Tech</td>
                <td>Electro Chemical Engg.</td>
              </tr>
              <tr>
                <td scope="row">Mrs. D. K. Shanmugapriya</td>
                <td>Associate Professor</td>
                <td>M. Tech</td>
                <td>Plant design</td>
              </tr>
              <tr>
                <td scope="row">Mrs. J. Nandhini</td>
                <td>Asst. Professor</td>
                <td>M. Tech.</td>
                <td>Bioinformatics</td>
              </tr>
              <tr>
                <td>Mrs. K. Tamilselvi</td>
                <td scope="row">Associate Professor</td>
                <td>M. Tech.</td>
                <td>Ceramic Tech</td>
              </tr>
              <tr>
                <td>Mr. P. Senthilraj</td>
                <td scope="row">Asst. Professor</td>
                <td>M. Tech.</td>
                <td>Chemical Engg</td>
              </tr>
              <tr>
                <td>Mr. S. Manikandan</td>
                <td scope="row">Asst. Professor</td>
                <td>M. Tech.</td>
                <td>Chemical Engg</td>
              </tr>
              <tr>
                <td>Mr. R. Vivekanandan</td>
                <td scope="row">Asst. Professor</td>
                <td>M. Tech.</td>
                <td>Chemical Engg</td>
              </tr>
              <tr>
                <td>Mrs. S. Mangaleswari</td>
                <td scope="row">Asst. Professor</td>
                <td>M. Tech.</td>
                <td>Plant Design</td>
              </tr>
            </tbody>
          </table>
        </div>
          <!-- </div> -->
          </scroll-page>


        <scroll-page id="page-5">
          <h1 class="h1s">Laboratories</h1>
          <!-- <div class="container-2"> -->
           <div>
             <h4>name of the lab</h4>
             <p>Mechanical Operations Lab</p>
           </div>
           <div>
              <h4>Lab In-charge</h4>
              <p>Mrs.J.Nandhini</p>
           </div>
           <div>
             <h4>Description of the Lab</h4>
             <p>To enlighten the students about various size reduction equipment, filters, separators etc.</p>
           </div>
           <div>
             <h4>Equipments Available</h4>
             <ul>
             <li>Jaw crusher, roll crusher,</li>
             <li>double role crusher, ball mill,</li>
             <li>plate and frame filter press,</li>
             <li>rotary drum filter, cyclone separator, sieve shaker</li>
             </ul>
           </div>
          
           <div>
            <h4>name of the lab</h4>
            <p>Heat Transfer</p>
          </div>
          <div>
             <h4>Lab In-charge</h4>
             <p>Mr.S.Manikandan</p>
          </div>
          <div>
            <h4>Description of the Lab</h4>
            <p>To study the various modes of heat transfer</p>
          </div>
          <div>
            <h4>Equipments Available</h4>
            <ul>
            <li>Heat exchangers, stefan-Boltzmann apparatus,</li>
            <li>condensers, boiler ,</li>
            </ul>
          </div>
          <div>
            <h4>name of the lab</h4>
            <p>Mass Transfer Lab</p>
          </div>
          <div>
            <h4>Lab In-charge</h4>
            <p>Mrs.K.Tamilselvi</p>
          </div>
          <div>
            <h4>Description of the Lab</h4>
            <p>To study the principles of mass transfer and related equipment</p>
          </div>
          <div>
            <h4>Equipments Available</h4>
            <ul>
            <li>Wetted wall column, steam distillation,</li>
            <li>packed bed absorption, Packed bed distillation</li>
            <li> Bubble cap column,</li>
            <li>Tray drier, Electronic balance</li>
            </ul>
          </div>
         

          <div>
            <h4>name of the lab</h4>
            <p>Process Control Lab</p>
          </div>
          <div>
             <h4>Lab In-charge</h4>
             <p>Mrs.D.K.Shanmugapriya</p>
          </div>
          <div>
            <h4>Description of the Lab</h4>
            <p>To the study the instruments used in the control of various processes.
            </p>
          </div>
          <div>
            <h4>Equipments Available</h4>
            <ul>
            <li>Level control Trainer, Flow control trainer,</li>
            <li>Temp. control trainer, Bubble cap distillation column,</li>
            <li>Pressure Control Trainer,</li>
            <li>Control valve characteristics</li>
            </ul>
          </div>
         

          <div>
            <h4>name of the lab</h4>
            <p>Chemical Reaction Engineering Lab</p>
          </div>
          <div>
             <h4>Lab In-charge</h4>
             <p>Mrs.S.Mangaleswari</p>
          </div>
          <div>
            <h4>Description of the Lab</h4>
            <p>To study the reaction rates with various types of equipment and their combination</p>
          </div>
          <div>
            <h4>Equipments Available</h4>
            <ul>
            <li>Plug flow reactor,</li>
            <li>ombined reactor,</li>
            <li>Continuous stirred tank reactor, </li>
            <li>RTD studies in CSTR & PFR</li>
            </ul>
          </div>


          <div>
            <h4>name of the lab</h4>
            <p>Technical Analysis lab</p>
          </div>
          <div>
             <h4>Lab In-charge</h4>
             <p>Mr.S.D.Sudhakar</p>
          </div>
          <div>
            <h4>Description of the Lab</h4>
            <p>	
              To analyse oils and fats, soap, mineral oils, cement, fertilizer, water, bleaching agents etc.</p>
          </div>
          <div>
            <h4>Equipments Available</h4>
            <ul>
            <li>Digital Photo Calorimeter, Flame photomerter</li>
            <li>Cryostat, Cloud & Pour point apparatus,</li>
            <li>Flash & Fire point apparatus,Water bath</li>
            </ul>
          </div>
         
          <!-- </div> -->
          </scroll-page>

</scroll-container>









  <script>
    $('.btn-sider').click(function(){
      $(this).toggleClass("click");
      $('.sidebar').toggleClass("show-2");
    });
      $('.sidebar ul li').click(function(){
        $(this).addClass("active").siblings().removeClass("active");
      });
  
  
      let drop = document.getElementsByClassName('feat-show')[0];
      let dr2=document.getElementsByClassName('feat-btn')[0];
      let c2=1;
      dr2.addEventListener('click',()=>{
        c2+=1;
        if(c2%2==0){
        drop.style.display='block';
        }
        else
        {
          drop.style.display='none';
        }
      })
    </script>