<% layout('layouts/boiler')%>
<link rel="stylesheet" href="/style/style3.css">
<link rel="stylesheet" href="/style/style2.css">

<div class="btn-sider">
    <span class="fas fa-bars"></span>
  </div>
  <div class="sidebar">
  
  <ul>
  <li class="active"><a href="#page-1">Vision & Mission</a></li>
  <li><a href="#page-2">PEO's</a></li>
  <li><a href="#page-3">Overview</a></li>
  <li><a href="#page-4">Faculty</a></li>
  <li><a href="#page-5">Laboratories</a></li>
  <li><a href="#page-6">Achievement</a></li>
  <li><a href="#page-7">Activities</a></li>
</ul>
</div>


<scroll-container>
  <scroll-page id="page-1">
    <!-- <div class="container-2"> -->
    <h1 class="h1s">Vision & Mission</h1>
    <h3>Vision</h3>
    <p class="pa">To become a centre of excellence in the field of computer science and engineering through high quality education and produce intellectual computer engineers for industry and research..
    </p>
  
      <h3>Mission</h3>
      <ul class="ul-1">
        <li>M1: To provide fundamental knowledge in science, mathematics, management and environmental subjects.</li>
        <li>M2: To impart in-depth knowledge in core computer science and engineering theory and laboratory courses.</li>
        <li>M3: To train students to enhance their problem-solving and programming skills.</li>
        <li>M4: To expose students to emerging technologies and tools in the field of computing.</li> 
      </ul>
    <!-- </div> -->
    </scroll-page>

    <scroll-page id="page-2">
        <h1 class="h1s">PEO's</h1>
        <br>
        <!-- <div class="container-2"> -->
        <h5 class="sk">Programme Educational Objectives (PEOs)</h5>
        <table>
            <tbody>
              <tr>
                <td scope="row"><span>PEO1.</span>	
                    To provide strong foundation in basic science and mathematics necessary to formulate, solve and analyze problems in the field of Computer Science and Engineering.</td>
              </tr>
              <tr>
                <td scope="row"><span>PEO2.</span>	
                    To conduct laboratory experiments, as well as to analyze and interpret data.</td>
              </tr>
              <tr>
                <td><span>PEO3.</span>	
                    To design computer-based system using modern tools taking into account of economic, environment, social and safety aspects.</td>
              </tr>
              <tr>
                <td><span>PEO4.</span>
                    To develop communication and management skills.</td>
              </tr>
              <tr>
                <td scope="row"><span>PEO5.</span>	
                    To inculcate learning habit.</td>
              </tr>
              <tr>
                <td scope="row"><span>PEO6.</span>To understand and demonstrate professional ethics and moral values</td>
              </tr>
            </tbody>
          </table>


          <h5 class="sk">Programme Outcomes (POs)</h5>
          <table>
              <tbody>
                <tr>
                  <td scope="row"><span>PEO1.</span>	
                    Engineering knowledge: Apply the knowledge of mathematics, science, engineering fundamentals, and an engineering specialization to the solution of complex engineering problems.</td>
                </tr>
                <tr>
                  <td scope="row"><span>PEO2.</span>	
                    Problem analysis: Identify, formulate, review research literature, and analyze complex engineering problems reaching substantiated conclusions using first principles of mathematics, natural sciences, and engineering sciences.</td>
                </tr>
                <tr>
                  <td><span>PEO3.</span>	
                    Design/development of solutions: Design solutions for complex engineering problems and design system components or processes that meet the specified needs with appropriate consideration for the public health and safety, and the cultural, societal, and environmental considerations.</td>
                </tr>
                <tr>
                  <td><span>PEO4.</span>
                    Conduct investigations of complex problems: Use research-based knowledge and research methods including design of experiments, analysis and interpretation of data, and synthesis of the information to provide valid conclusions..</td>
                </tr>
                <tr>
                  <td scope="row"><span>PEO5.</span>	
                    Modern tool usage: Create, select, and apply appropriate techniques, resources, and modern engineering and IT tools including prediction and modeling to complex engineering activities with an understanding of the limitations..</td>
                </tr>
                <tr>
                  <td scope="row"><span>PEO6.</span>The engineer and society: Apply reasoning informed by the contextual knowledge to assess societal, health, safety, legal and cultural issues and the consequent responsibilities relevant to the professional engineering practice.</td>
                </tr>
                <tr>
                    <td><span>PEO7.</span>
                        Environment and sustainability: Understand the impact of the professional engineering solutions in societal and environmental contexts, and demonstrate the knowledge of, and need for sustainable development.</td>
                  </tr>
                <tr>
                    <td><span>PEO8.</span>
                        Ethics: Apply ethical principles and commit to professional ethics and responsibilities and norms of the engineering practice..</td>
                </tr>

                <tr>
                    <td><span>PEO9.</span>
                        Individual and team work: Function effectively as an individual, and as a member or leader in diverse teams, and in multidisciplinary settings..</td>
                </tr>

                <tr>
                    <td><span>PE10.</span>
                        Communication: Communicate effectively on complex engineering activities with the engineering community and with society at large, such as, being able to comprehend and write effective reports and design documentation, make effective presentations, and give and receive clear instructions..</td>
                </tr>

                <tr>
                    <td><span>PE11.</span>
                        Project management and finance: Demonstrate knowledge and understanding of the engineering and management principles and apply these to one‘s own work, as a member and leader in a team, to manage projects and in multidisciplinary environments..</td>
                </tr>
                <tr>
                    <td><span>PE12.</span>
                        Life-long learning: Recognize the need for, and have the preparation and ability to engage in independent and life-long learning in the broadest context of technological change..</td>
                </tr>
              </tbody>
            </table>
        <!-- </div> -->
        </scroll-page>


        <scroll-page id="page-3">
            <!-- <div class="container-2"> -->
            <h1 class="h1s">Overview of Computer Science and Engineering</h1>
            <p class="pa">The department is well equipped with two computer labs consisting more than 150 computers and 6 DELL power edge servers. Microprocessor lab and Digital lab are also available for training the students in basic hardware skills. The internet connection with 40 Mbps leased line facility is available for accessing information through internet. The department strives and takes efforts to make the students strong in core subjects like data structures, operating systems etc. and programming skills.
            </p>

            <p class="pa">
                The department organizes a national level technical symposium every year. The students are encouraged to participate and showcase their talents in competitions and workshops conducted by various reputed institutions and organizations all over India. The students are motivated to do mini-projects in various fields based on their interest. Many students are doing mini-projects particularly in open-source platforms like Linux and mobile operating systems like android, ios, windows etc. The department organizes guest lectures by experts both from industry and academia to enable the students aware of current trends. Every classroom is equipped with audiovisual facilities and one A/C seminar hall with capacity of 150 seats is also available for presentations and brainstorming sessions. The department has consistent placement record both in on-campus and off-campus. Many of the alumni continue their higher studies both in India and abroad. Our faculty members and alumni are the prime strength of our department.
            </p>

            <h4 style="margin-top: 15px;">As per the curriculum of the University, the following core subjects are taught during the course of study</h4>
            <!-- </div> -->
             <div class="table-aligh">
            <table>
                <thead>
                  <tr>
                    <th scope="col">III SEMESTER</th>
                    <th scope="col">IV SEMESTER</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Discrete Mathematics</td>
                    <td>Probability and Queueing Theory</td>
                  </tr>
                  <tr>
                    <td scope="row">Digital Principles and System Design</td>
                    <td>Computer Architecture</td>
                  </tr>
                  <tr>
                    <td scope="row">Data Structures</td>
                    <td>Database Management Systems</td>
                  </tr>
                  <tr>
                    <td>Object Oriented Programming</td>
                    <td scope="row">Operating Systems</td>
                  </tr>
                  <tr>
                    <td>Communication Engineering</td>
                    <td>Software Engineering</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>Design and Analysis of Algorithms</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="table-aligh">
            <table>
                <thead>
                  <tr>
                    <th scope="col">V SEMESTER</th>
                    <th scope="col">VI SEMESTER</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Discrete Mathematics</td>
                    <td>Distributed Systems</td>
                  </tr>
                  <tr>
                    <td scope="row">Internet Programming</td>
                    <td>Mobile Computing</td>
                  </tr>
                  <tr>
                    <td scope="row">Oriented Analysis and Design</td>
                    <td>Compiler Design</td>
                  </tr>
                  <tr>
                    <td>Theory of Computation</td>
                    <td scope="row">Digital Signal Processing</td>
                  </tr>
                  <tr>
                    <td>Computer Graphics</td>
                    <td>Artificial Intelligence</td>
                  </tr>
                </tbody>
              </table>
            </div>
            
            <div class="table-aligh">
            <table>
                <thead>
                  <tr>
                    <th scope="col">VII SEMESTER</th>
                    <th scope="col">VIII SEMESTER</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Cryptography and Network Security</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td scope="row">Graph Theory and Applications</td>
                    <td>Multi – Core Architectures and Programming</td>
                  </tr>
                  <tr>
                    <td scope="row">Grid and Cloud Computing</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Resource Management Techniques </td>
                    <td scope="row">Software Project Management</td>
                  </tr>
                  <tr>
                    <td>Advanced Database Systems</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Information Retrieval</td>
                    <td>Knowledge management</td>
                  </tr>
                </tbody>
              </table>
            </div>






            <div class="table-aligh">
              <table>
                <caption>Electives Offered:</caption>
                  <tbody>
                    <tr>
                      <td>C# and .Net programming</td>
                      <td>Game Programming</td>
                    </tr>
                    <tr>
                      <td scope="row">Network Analysis and Management</td>
                      <td>Human Computer Interaction</td>
                    </tr>
                    <tr>
                      <td scope="row">Cyber Forensics</td>
                      <td>Network Analysis</td>
                    </tr>
                    <tr>
                      <td>Service Oriented Architecture</td>
                      <td scope="row">Natural Language Processing</td>
                    </tr>
                    <tr>
                      <td>Embedded and Real Time Systems</td>
                      <td>Data Warehousing and Data Mining</td>
                    </tr>
                    <tr>
                      <td>Data Analytics</td>
                      <td>Ad hoc and Sensor Networks</td>
                    </tr>
                    <tr>
                      <td>Knowledge Management</td>
                      <td>Bio Informatics</td>
                    </tr>
                    <tr>
                      <td>Ethics in Engineering</td>
                      <td>Digital Image Processing</td>
                    </tr>
                    <tr>
                      <td>Total Quality Management</td>
                      <td>Information Retrieval</td>
                    </tr>
                    <tr>
                      <td>Software Testing</td>
                      <td>Computing</td>
                    </tr>
                    <tr>
                      <td>Advanced Database Systems</td>
                      <td>Software Project Management</td>
                    </tr>
                    <tr>
                      <td>Bio Informatics</td>
                      <td>Soft Computing</td>
                    </tr>
                  </tbody>
                </table>
              </div>
        </scroll-page>

        

        <scroll-page id="page-4">
          <!-- <div class="container-2"> -->
          <h1 class="h1s">faculty</h1>
          <table>
            <thead>
              <tr>
                <th scope="col">Name of the Faculty</th>
                <th scope="col">Designation</th>
                <th scope="col">Qualification</th>
                <th scope="col">Specialization</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Dr. K. Velmurugan</td>
                <td>Professor / Head</td>
                <td>M.E.,M.B.A., Ph.D.,</td>
                <td>Software Engineering</td>
              </tr>
              <tr>
                <td scope="row">Dr. G. Nanthakumar</td>
                <td>Professor</td>
                <td>M.E.,Ph.D</td>
                <td>Mobile Computing</td>
              </tr>
              <tr>
                <td scope="row">Mr. R.Arunchalam</td>
                <td>Assistant professor</td>
                <td>M.E.</td>
                <td>Software Engineering</td>
              </tr>
              <tr>
                <td>Mr. P. Manikanda Prabu</td>
                <td scope="row">Asst. Professor</td>
                <td>M.E</td>
                <td>Compiler Design</td>
              </tr>
              <tr>
                <td>Mr. R. Roger Samson</td>
                <td scope="row">Asst. Professor</td>
                <td>M.E</td>
                <td>Programming paradigms</td>
              </tr>
              <tr>
                <td>Ms. K. Karthika</td>
                <td scope="row">Asst. Professor</td>
                <td>M.E</td>
                <td>Database Management Systems</td>
              </tr>
              <tr>
                <td>Mr. K. Pazhanivel</td>
                <td scope="row">Asst. Professor</td>
                <td>M.E</td>
                <td>Computer Networks</td>
              </tr>
              <tr>
                <td>Mr. P. Dinesh</td>
                <td scope="row">Asst. Professor</td>
                <td>M.E</td>
                <td>Design and Analysis of Algorithms</td>
              </tr>
              <tr>
                <td>Mrs.P.Immaculate Rexi Jenifer</td>
                <td scope="row">Asst. Professor</td>
                <td>M.E</td>
                <td>Programming and Data structures</td>
              </tr>
              <tr>
                <td>Mrs. G. Kalaiselvi</td>
                <td scope="row">Asst. Professor</td>
                <td>M.E</td>
                <td>Computer Architecture</td>
              </tr>
              <tr>
                <td>Mrs. S. Farjana Farvin</td>
                <td scope="row">Asst. Professor</td>
                <td>M.E</td>
                <td>Artificial Intelligence</td>
              </tr>
              <tr>
                <td>Mrs. P. Elakkiya</td>
                <td scope="row">Asst. Professor</td>
                <td>M.E</td>
                <td>Python Programming</td>
              </tr>
              <tr>
                <td>Mr. N. Poongavanam</td>
                <td scope="row">Asst. Professor</td>
                <td>M.E</td>
                <td>Programming and Data structures</td>
              </tr>      
            </tbody>
          </table>
          <!-- </div> -->
          </scroll-page>


        <scroll-page id="page-5">
          <h1 class="h1s">Laboratories</h1>
          <!-- <div class="container-2"> -->
           <div>
             <h4>name of the lab</h4>
             <p>CSE LAB-I</p>
           </div>
           <div>
              <h4>Lab In-charge</h4>
              <p>Mr.A.Abul Hasan</p>
           </div>
           <div>
             <h4>Description of the Lab</h4>
             <p>CSE LAB-I is utilized to perform experiments in Mobile app development, Compiler design, CASE Tools, Grid and Cloud Computing and so forth.</p>
           </div>
           <div>
             <h4>Equipments Available</h4>
             <ul>
             <li>Dell PowerEdge 2900 Server – 2 Nos,</li>
             <li>IBM 84782x Server 200 series -1 Nos,</li>
             <li>Dell Optiplex 5050 Desktop systems– 61 Nos,</li>
             <li>Dell Optiplex 360 Desktop systems – 10 Nos.</li>
             </ul>
           </div>
          
           <div>
            <h4>name of the lab</h4>
            <p>CSE LAB-II</p>
          </div>
          <div>
             <h4>Lab In-charge</h4>
             <p>Mr.R.Roger Samson</p>
          </div>
          <div>
            <h4>Description of the Lab</h4>
            <p>CSE LAB –II is intended for performing experiments in Data structures, C, C++, Java, Python, Redhat Linux and so forth.</p>
          </div>
          <div>
            <h4>Equipments Available</h4>
            <ul>
            <li>Dell PowerEdge 2900 Server – 2 Nos,</li>
            <li>Dell Optiplex 360 Desktop systems – 57 Nos.</li>
            </ul>
          </div>
          <!-- </div> -->
          </scroll-page>

</scroll-container>









  <script>
    $('.btn-sider').click(function(){
      $(this).toggleClass("click");
      $('.sidebar').toggleClass("show-2");
    });
      $('.sidebar ul li').click(function(){
        $(this).addClass("active").siblings().removeClass("active");
      });
  
  
      let drop = document.getElementsByClassName('feat-show')[0];
      let dr2=document.getElementsByClassName('feat-btn')[0];
      let c2=1;
      dr2.addEventListener('click',()=>{
        c2+=1;
        if(c2%2==0){
        drop.style.display='block';
        }
        else
        {
          drop.style.display='none';
        }
      })
    </script>