<link rel="stylesheet" href="/style/style4.css">
<% layout('layouts/boiler')%>

<div class="testnav">
    <a href="/showAlumni">Alumni</a>
    <% if(!currentUser) {%> 
    <a href="/register">Register</a>
    <a href="/login">Login</a>
    <% }else{ %> 
    <a href="/logout">Logout</a>
    <% } %>
</div> 
<!-- 
<div class="alert alert-success alert-dismissible fade show-3">
    <button type="button" class="close" >
        <p1></p1>
        <span class="thistoclick">&times;</span>
    </button>
</div>
 -->

<% if(error && error.length) {%>
    <div class="alert  alert-dismissible fade show-4">
            <p1><%= error %></p1>
            <span class="thistoclick">&times;</span>
    </div>
    <% } %>


<div class="jform">
    <form action="/login" method="POST">
        <label for="jform_name">Name of the Alumni</label>
        <input type="text" name="username" id="jform_name"   required aria-required="true"/>

        <label for="jform_password">Password</label>
        <input type="password" name="password" id="jform_password"   required aria-required="true" />
        
        <button>Submit</button>
    </form>
</div>

<script>
let close2 = document.getElementsByClassName('thistoclick')[0];
let removeel2= document.getElementsByClassName('alert-dismissible')[0];
close2.addEventListener('click',()=>{
  removeel2.remove();
})
</script>